name: Update GitHub Stats

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install deps
        run: pip install requests

      - name: Run metrics script
        env:
          TOKEN: ${{ secrets.GH_STATS_TOKEN }}
          USERNAME: <YOUR_GITHUB_USERNAME>
        run: python stats.py

      - name: Commit and push result
        run: |
          git config user.name "GitHub Action"
          git config user.email "action@github.com"
          git add stats.json
          git commit -m "Update stats" || exit 0
          git push
